{% extends 'solver/base.html' %}

{% block content %}
    <div>
        <h1>Advent of Code Solver</h1>
        <select id="code-year" name="years">
            <option value="2019">2019</option>
            <option value="2018">2018</option>
        </select>
        <div id="year-questions">
            <div>
                <p>Question 1 <a href="#">here</a></p>
                <input type="textarea">
            </div>
        </div>
{#        <input type="checkbox">#}
    </div>
{% endblock %}